.add-bill-container {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    overflow: hidden;
    position: relative;
}

.add-bill-company {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.add-bill-company .condo-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-bill-company .condo-name h1 {
    font-size: 25px;
    font-family: serif;
    font-weight: 600;
    color: #002060;
    margin-top: -7px;
    text-transform: uppercase;
}

.com-image {
    height: 120px;
    width: 350px;
}

.com-logo {
    position: absolute;
    height: 260px;
    margin-top: -182px;
    margin-left: -60px;
    opacity: 0.5;
}

.com-address {
    font-size: 19px;
    font-weight: 500;
    font-family: sans-serif;
    margin-top: -52px;
}

.add-bill-row {
    display: flex;
}

.add-bill-label {
    font-size: 35px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: -10px;
    position: relative;
}

.add-bill-underline {
    border-top: 3px solid #009DFF;
    opacity: 1;
    margin-top: -5px;
}

.add-bill-field-label {
    width: 200px;
    font-size: 12px;
    font-weight: 900;
}

.add-bill-input {
    font-size: 12px;
    border: none;
    padding-left: 76px;
    margin: 4px;
    border-radius: 0px;
}

.tbl-add-bill-input {
    font-size: 12px;
    border: none;
    padding: 1px;
    border-radius: 0px;
}

.add-bill-input-penalty, .add-bill-input-total {
    font-size: 12px;
    border: none;
    margin: 2px;
    padding-left: 56px;
    border-radius: 0px;
}

.add-bill-input-date {
    font-size: 12px;
    border: none;
    padding-left: 40px;
    margin: 4px;
    border-radius: 0px;
}


.add-bill-form-label {
    position: absolute;
    padding-top: 6px;
    padding-left: 6px;
}

.add-bill-form-date {
    position: absolute;
    padding-top: 5px;
    padding-left: 6px;
}

.add-bill-form-penalty, .add-bill-form-total {
    position: absolute;
    padding-top: 7px;
    padding-left: 5px;
}

// INVOICE BODY
.add-bill-container .table thead > tr > th {
    font-size: 12px;
}

.add-bill-divider {
    background: #3C4B64;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    padding: 6px;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

.add-bill-total {
    display: flex;
    margin-top: -34px;
    flex-direction: column;
    align-items: end;
}

button.add-bill-secondarybtn.btn.btn-primary {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}